* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial";
}

/* cabecalho */
.cabecalho{
  background-color: #D8f1fb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
}
.links{
  list-style: none;
  display: flex;
  gap: 20px;
}
.links li,a{
  text-decoration: none;
  color: #000000;
}

.btn{
  background-color: #ea1c81;
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
}

/* inicio */

.inicio{
   background-image: url("../img/banner.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   text-align: center;
  padding: 50px;
  height: 100%;
  height: 50vh;
}

.inicio h1{
  color: #ea1c81;
  margin-bottom: 1rem;
}
.inicio_texto{
  margin-bottom: 1rem;
  color: #424E66;
}

.btn_inicio{
  display: inline-block;
  background-color: #ea1c81;
  padding: 10px;
  border-radius: 18px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

/* conteudo */

.flex_2{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   padding: 80px; 
}
.flex_2 h4{
  color: #ea1c81;
  margin-bottom: 1rem;
}

.texto{
  width: 100%;
  max-width: 500px;
  color: #424E66;
}

.beneficios{
  background-color: #FAFBFF;
  padding: 30px;
  height: 100%;
}
.beneficios h2{
  text-align: center;
  color: #ea1c81;
  margin-bottom: 1rem;
}
.texto_be{
  text-align: center;
  width: 100%;
  max-width: 440px;
  margin: auto;
  color: #424E66;
  letter-spacing: 2px;
}

.flex_3{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 3rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.titulo{
  color: #ea1c81;
  font-size: 25px;
  letter-spacing: 2px;
  width: 100%;
  max-width: 175px;
  text-align: center;
  margin-top: 1rem;
}
.titulo_suporte{
  color: #ea1c81;
  font-size: 25px;
  letter-spacing: 2px;
  width: 100%;
  max-width: 180px;
  text-align: center;
  margin-top: 1rem;
}

.formulario{
  height: 50vh;
  padding: 20px;
}

.formulario h2{
  color: #424E66;
  text-align: center;
  margin-top: 2rem;
}

.form_texto{
  text-align: center;
  color: #424E66;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 1rem;
}

.flex_4{
  display: flex;

}